.header{
    height: 80px;
    background-color: black;
    display: flex;
   align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right:140px;
    position: static;
    top: 0px;
  
}

.header a{
    text-decoration:  none;
    color: white;
    margin-left: 36px;
    font-size: 16px;
   
}
.header a:hover{
    color:  orange;
}